<%= stylesheet_link_tag 'admin_index', media: 'all' %>
<p style="color: green"><%= notice %></p>

<h2>Admins</h2>

<div id="admins">
  <% @admins.each do |admin| %>
    <div style="border:2px solid; width:500px; padding-left:30px">
    <%= render admin %>
    </div>
    <p>
      <%= link_to "Show this admin", admin %>
    </p>
  <% end %>
</div>


<%= link_to "New admin", new_admin_path %>
