<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('login.title')%></title>
    <%= stylesheet_link_tag "pages_home" %>
   
    
</head>
<body>
 
<div class="login-container">
    <h2><%= t('login.title') %></h2>
    <form>

    <%= text_field_tag :user_name, nil, placeholder: t('login.user_name_placeholder'), required: true %>
    <%= password_field_tag :password, nil, placeholder: t('login.password_placeholder'), required: true %>
 
        <button type="submit"><%= t('login.login_button')%></button>
    </form>
    <div class="form-footer">
        <p><%= t('login.forgot_password') %> <a href="#"><%= t('login.click_here') %></a></p>
        <p><%= t('login.dont_have_account') %> <a href="#"><%= t('login.sign_up')%></a></p>
    </div>
</div>
 
</body>
</html>
 