<div id="<%= dom_id address %>">
  <p>
    <strong>Member:</strong>
    <%= address.member_id %>
  </p>

  <p>
    <strong>Permanent:</strong>
    <%= address.permanent %>
  </p>

  <p>
    <strong>Communication:</strong>
    <%= address.communication %>
  </p>

  <p>
    <strong>Permanent zip:</strong>
    <%= address.permanent_zip %>
  </p>

  <p>
    <strong>Communication zip:</strong>
    <%= address.communication_zip %>
  </p>

</div>
