<div id="<%= dom_id location %>">
  <p>
    <strong>Member:</strong>
    <%= location.member_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= location.location_type %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= location.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= location.lng %>
  </p>

</div>
