<p style="color: green"><%= notice %></p>

<button><%= link_to "Home", pages_path, class: "btn btn-primary" %></button>

<h1>Locations</h1>

<div id="locations">
  <% @locations.each do |location| %>
    <div style="border:2px solid; width:500px; padding-left:30px">
    <%= render location %>
    </div>
    <p>
      <%= link_to "Show this location", location %>
    </p>
  <% end %>
</div>

<%= link_to "New location", new_location_path %>
