<!DOCTYPE html>
<html>
  <head>
    <title>Community</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", media: 'all' %>
  
  <body>
  <% if current_page?(root_path) %>
  <% else %>
    <%= render partial:"templates/header_application"%>
  <% end %>
    <%= yield %>
    <% if current_page?(root_path) %>
  <% else %>
    <%= render partial:"templates/footer_application"%>
  <% end %>
  </body>
</html>
