<!DOCTYPE html>
<html>
  <head>
    <title>Community</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render "layouts/header" unless current_page?(login_path) || current_page?(root_path) || current_page?(new_admin_path)%>

    <%= yield %>
  </body>
</html>
